BasedOnStyle: LLVM   # or Google, Chromium, etc.
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
